body {
	font-family:arial, verdana, helvetica, sans-serif;
	font-size:12px;
	cursor:default;
	background-color:#FFFFFF
}
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
html {
	height:100%;
	margin-bottom:1px;
}

img.right { 
	float: right; 
	margin: 10px;
	padding: 1px;
	border: 1px solid #ccc;
}

#container {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFFFFF;
}
#header {
	width:100%;
	padding-top:15px;
}
.spacer {
	width:100%;
	height:15px;
}
hr {
	border:0px;
	color:#CCCCCC;
	background-color:#CDCDCD;
	height: 1px;
	width: 100%;
	text-align: left;
}
h1 {
	font-size:28px;
	color:#0066cc;
	background-color:#FFFFFF;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
}
h2 {
	font-size:15px;
	color:gray;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
	background-color:#FFFFFF;
}
h3 {
	color:#0066cc;
	font-size:15px;
	text-align:left;
	font-weight:300;
	padding:5px;
	margin-top:5px;
}

#left {
	float:left;
	width:160px;
	background-color:#FFFFFF;
	color:black;
	margin-top: 20px;
}

#left ul {
	padding-left: 20px;
	list-style: none;
	font-size: 1.2em;
	margin-bottom: 10px;
}
#left ul li a {
	color: #CC3333;
}

#main {
	margin: 5px 5px 5px 170px;
	padding: 15px;
	border-left: 1px solid silver;
}

#main ol, #main ul {
	padding-left: 40px;
	margin-bottom: 10px;
}

p {
	color:black;
	background-color:#FFFFFF;
	line-height:20px;
	padding:5px;
}
a {
	color:#cc0000;
	background-color:#FFFFFF;
	text-decoration:none;
}
a:hover {
	color:#0066cc;
	background-color:#FFFFFF;
	text-decoration:underline;
}
#footer {
	padding: 40px;
	clear:both;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#footer a {
	color: #CC4444;
}
.right {
	color:gray;
	background-color:#FFFFFF;
	float:right;
	font-size:100%;
	margin-top:5px;
}
.left {
	color:gray;
	background-color:#FFFFFF;
	float:left;
	font-size:100%;
	margin-top:5px;
}

div.freeform-form label.freeform-label {
       margin: 5px;
}

div.freeform-form input {
    margin: 5px;
}

div.freeform-form fieldset {
    padding: 10px;
    border: 1px dashed #ccc;
}

div.freeform-form div.freeform-form-error {
    display: none;
}

div.freeform-form div.freeform-error {
    color: #ff8800;
}